@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* @apply outline-dotted outline-[0.1px] outline-slate-400/[0.05] bg-violet-900/[0.002] bg-opacity-5; */
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  @apply font-serif;
}

body {
  font-feature-settings: "kern";
  @apply font-serif min-h-[100vh] bg-white dark:bg-zinc-900 container mx-auto;
}


section {
  @apply prose dark:prose-invert lg:prose-lg mx-auto;
}

[data-theme='dark'] [data-hide-on-theme='dark'],
[data-theme='light'] [data-hide-on-theme='light'] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
